@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Space+Mono&display=swap');

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0 1.25rem 1.5rem;
}

:root {
    --inconsolata: 'Inconsolata', monospace;
    --montserrat: 'Montserrat', sans-serif;
    --space-mono: 'Space Mono', monospace;
    --white: #FFFFFF;
    --gray-dark: #333333;
    --gray: #4F4F4F;
    --gray-light: #BDBDBD;
}

.title__h3 {
    font-family: var(--inconsolata);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: 0;
}

.container__elements {
    display: flex;
    flex-direction: column;
}

.scarecrow {
    align-self: center;
    margin: 4rem auto;
    max-width: 540px;
    min-width: 290px;
    width: 75%;
}

.title__h1 {
    color: var(--gray-dark);
    font-family: var(--space-mono);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.4rem;
}

.p__info {
    color: var(--gray);
    font-family: var(--space-mono);
    font-size: 1.125rem;
    line-height: 1.7rem;
}

.button {
    background: var(--gray-dark);
    border: 0;
    color: var(--white);
    font-family: var(--space-mono);
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.3rem;
    margin: 4rem 0;
    padding: 24px 43px;
}

.p__signature {
    color: var(--gray-light);
    font-family: var(--montserrat);
    font-size: 0.875rem;
    font-weight: 500;
    justify-content: end;
    line-height: 17px;
    text-align: center;
}

@media (min-width: 768px) {
    .container__elements {
        flex-direction: row;
        gap: 7rem;
        margin: 6rem 0;
    }

    .scarecrow {
        margin: 0;
    }
}